body{
  background:#EEEEEE;
  margin:0;
  padding: 200px 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

body h1{
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  color:rgb(137, 137, 137);
  /* border:solid; */
}


.container{
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.canvas{
  height:500px;
  width:500px;
  background:white;
  /* border:solid 1px; */
  display:flex;
  flex-direction: column;
  box-shadow: 0 0 10px black;
}

.tools{
  /* background: gray; */
  padding:100px;
  display:flex;
  flex-direction:column;
  justify-content: left;
  gap:32px;
}

.tools button{
  background-color: white;
  font-size: 20px;
  /* font-weight:bold; */
  padding: 6px 50px;
  border:solid 1px;
  border-radius: 5px;
}

button.active{
  background: rgb(110, 106, 106);
  color:white;
}

#rows{
  flex: 1 1 auto;
  display:flex;
  flex-direction: row;
}

#cells{
  flex: 1 1 auto;
  /* border:solid 1px; */
}


.dimensions{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#grid-size{
  text-align: center;
}


.color{
  background-color: black;
}